	<div class="form-group">
		<label for="name">current name</label>
		<input type="text" class="form-control" name="old[name]" placeholder="{{user.name}}" value="{{user.name}}" readonly>
		<label for="email">current new email</label>
		<input type="text" class="form-control" name="old[email]" placeholder="{{user.email}}" value="{{user.email}}" readonly>
		<label for="username">current username</label>
		<input type="text" class="form-control" name="old[username]" placeholder="{{user.username}}" value="{{user.username}}" readonly>
		<label for="profileimage">current profile image</label>
		<input type="text" class="form-control" name="old[profileimage]" placeholder="{{user.profileImage}}" value="{{user.profileImage}}" readonly>
		<br>
	</div>